version: "3.8"

services:
  redis:
    image: redis:latest
    container_name: redis_container
    ports:
      - "6379:6379"
    command: >
      sh -c "redis-server --daemonize yes && sleep 1 && redis-cli setnx loadbalancer-algorithm RoundRobin && redis-cli setnx active-servers webapp_container:3000 && redis-cli shutdown && redis-server"

  loadbalancer:
    container_name: loadbalancer_container
    build:
      context: ./loadbalancer
      dockerfile: Dockerfile
    ports:
      - "3000:3000"

  webapp:
    container_name: webapp_container
    build:
      context: ./website
      dockerfile: Dockerfile
    ports:
      - "8080:3000"
